.mint-switch{
    float: right;
    .mint-switch-core{
        border-radius: 45px;
        width: 163px;
        height: 90px;
        position: relative;
        border-color:#aeaba6!important;
        background-color: rgba(0,0,0,0)!important;
        &:before{
            width: 70px;
            height: 70px;
            border-radius: 35px;
            position: absolute;
            left:10px;
            top:50%;
            margin-top: -35px;
            background-color:#aeaba6;
        }
        &:after{
            width: 70px;
            height: 70px;
            border-radius: 35px;
            position: absolute;
            left:10px;
            top:50%;
            margin-top: -35px;
            background-color:#aeaba6;
        }
    }
    .mint-switch-input:checked + .mint-switch-core:after{
        background-color:#cead53;
        transform: translateX(70px);        
    }
}